*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body {
    background-color: black;
}
@font-face{
    font-family: moj_font;
    src:url("font/Arcane\ Nine.otf")
}
.header {
    width: 100%;
    height:400px;
    display:flex;
    align-items: center;
    background-color: 	#30588C;
}
.header img{
    width:40%;
    height:400px;
}
.header h1{
    font-family: moj_font;
    position: absolute;
    right:500px;
    font-size:100px;
    font-style:italic;
    color:white;
}
h1{
    text-align: center;
    font-size:40px;
    color:#A63F8A;
    font-family: moj_font;
}
.glavni{
    width:100%;
    height:1000px;
}
.jinx p{
    width:70%;
    height:400px;
    position: absolute;
    left:0;
    color:#A63F8A;
    text-align: center;
    font-size:30px;
    border:1px solid #30588C;
    font-family: moj_font;
}
#jinx{
    width:30%;
    height:400px;
    position: absolute;
    right:0;
}
.vi p{
    width:70%;
    height:400px;
    position: absolute;
    right:0;
    color:#A63F8A;
    text-align: center;
    font-size:25px;
    margin-top:400px;
    border:1px solid #30588C;
    font-family: moj_font;
}
#vi{
    width:30%;
    height:400px;
    position: absolute;
    left:0;
    margin-top:400px;
}
.jayce p{
    width:70%;
    height:400px;
    position: absolute;
    left:0;
    color:#A63F8A;
    text-align: center;
    font-size:25px;
    margin-top:800px;
    border:1px solid #30588C;
    font-family: moj_font;
}
#jayce {
    width:30%;
    height:400px;
    position: absolute;
    right:0;
    margin-top:800px;
}
.viktor p{
    width:70%;
    height:400px;
    position: absolute;
    right:0;
    color:#A63F8A;
    text-align: center;
    font-size:25px;
    margin-top:1200px;
    border:1px solid #30588C;
    font-family: moj_font;
}
#viktor{
    width:30%;
    height:400px;
    position: absolute;
    left:0;
    margin-top:1200px;
}
.pocetna{
    position: absolute;
    top:0;
    right:0;
    font-size:40px;
    background-color: #A63F8A;
    border:2px solid black;
    border-radius:20%;
    box-shadow:2px 2px 2px 2px #A63F8A;
    font-family: moj_font;
}
.pocetna a{
    text-decoration: none;
    color:pink;
}
@media (max-width:600px) {
    .header {
        width: 100%;
        height:40%;
        display:flex;
        align-items: center;
        background-color: 	#30588C;
    }
    .header img{
        width:40%;
        height:40%;
    }
    .header h1{
        font-family: moj_font;
        position: absolute;
        right:30px;
        font-size:50px;
        font-style:italic;
        color:white;
    }
    .navbar{
        height:30px;
        background-color:#30588C ;
        border:2px solid black;
    }
    .navbar ul {
        display: flex;
        list-style-type: none;
    
    }
    .navbar ul li{
        padding-right:15px;
        font-size:20px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar ul li:active{
        background-color: #A63F8A;
    }
    .navbar ul li a {
        text-decoration: none;
        color:white;
    }
    .lidesno{
        right:5px;
        position: absolute;
    }
    #aktivno{
        background-color: blueviolet;
    }
}